// home page 

@import "variables";

html,
body {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;

  a {
    text-decoration: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  div,
  span,
  a {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
  }
}

.row {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.container{
  position: relative;
  padding: 0;
  width: 1280px;
  margin: 0 auto;
  z-index: 1;
}
